<h1>Shopping Cart</h1>
<h2>Create your order</h2>
<hr />

<table id="cartListTable">
  <tr>
    <th>Art.</th>
    <th>Name</th>
    <th>Mixture</th>
    <th>Price</th>
    <th>Details</th>
  </tr>
  <tr id="noCartMessage">
    <td colspan="5">Your shopping cart is empty, please add something!</td>
  </tr>

</table>

<div id="createCartCTA" class="ctaWrapper">
  <a class="cta green" href="cart/add">Add delicatezza</a>
</div>

<hr />

<div id="checkoutCartCTA" class="ctaWrapper">
  <a class="cta blue" href="cart/checkout">Place your order</a>
</div>
